/node_modules
/laradock
/public/*
/public/hot
/public/storage
/public/*.js
/public/*.json
/public/storage/framework/cache
/public/*.map
/public/admin/*.js
/public/admin/*.map
/public/admin/
/public/css
/public/images
/public/audio
/public/vendor
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
!/storage/*.key
/storage/framework/cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env*
env*
.phpunit.result.cache
.php_cs.cache
.rnd
.env.backup

/Backups
Cookies
Cookies-journal
storage.json
/Cache
/Cache/*.*
/CacheData
/CacheData/*
/CacheExtensions
/GPUCache
/User
/logs

